<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silly Name Generator</title>

    <link rel="stylesheet" href="styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600&display=swap"
        rel="stylesheet">

</head>
<header>
    <h1>Welcome to the Silly Name Generator</h1>
</header>

<body>
    <main>