body {
    background-color: rgb(188, 203, 235);
    font-family: 'Playpen Sans', cursive;
    text-align: center;
    margin: 50px 0px;
}

header h1 {
    color: rgb(131, 67, 184);
    padding-bottom: 20px;
}

#btn {
    background-color: rgb(131, 67, 184);
    border: 1px solid black;
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Playpen Sans', cursive;
    cursor: pointer;
}

footer {
    margin-top: 50px;
}

footer p {
    font-size: 12px;
}